.showopt {
  background-color: #fff;
  border: 1px;
  color: #000; 
  width: 140px;
  height: 20px;
  text-align: center;
  vertical-align: middle !important;
  float: right;
  font-family: sans-serif;
}

.showopt:hover {
    cursor: pointer; 
    text-decoration: underline;
}

pre.plot {
  background-color: white !important;
}